MONGODB_URI=mongodb+srv://usuario:password@cluster.example.mongodb.net/uai_dw_tp_2025
MONGODB_DB_NAME=uai_dw_tp_2025
FIREBASE_PROJECT_ID=tu-proyecto-firebase
FIREBASE_CLIENT_EMAIL=firebase-adminsdk@example.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nclave-ficticia\n-----END PRIVATE KEY-----\n"
CLIENT_ORIGIN=https://uai-mdw-2025-fe.vercel.app
PORT=3000
